@media (max-width: 768px) {
  #navbar {
    width: 358px;
  }

  .main-section {
    width: 318px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  #navbar {
    width: 675px;
  }

  .main-section {
    width: 633px;
  }
}

html {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: sans-serif;
  color: #0a0a23;
  font-size: 16px;
}

h1 {
  margin: 20px 20px 20px 25% ;
  padding: 2rem;
  text-shadow: 1px 1px 2px #9977ff;
}

header {
  font-size: 20px;
}

#menu {
  font-size: 2rem;
  margin: 0;
}

#navbar {
  position: fixed;
  display: grid;
  flex-direction: column;
  margin: auto;
  padding: auto;
  top: 0;
  background-color: black;
  color: white;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#navbar a{
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

#navbar a:hover {
  color: #9977ff;
}

.main-section {
  background-color: white;
  margin: 20px 20px 20px 25% ;
  padding: 2rem;
}

.main-section img{
  margin: 0;
  padding: 2rem;
  width: 90%;
}

p {
  margin: 2rem 0;
}

code {
  margin: 2rem;
  padding: 0;
  width: 80%;
  background-color: #eeeeee;
}

.code {
  background-color: #eeeeee;
}

.comment {
  color: gray;
}







