@media (max-width: 768px) {
  #header {
    width: 358px;
  }

  .container {
    width: 318px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  #header {
    width: 675px;
  }

  .container {
    width: 633px;
  }
}

*{
  font-family: Marvel, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#header {
  width: 100%;
  min-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 20px;
  background: repeating-linear-gradient(
    180deg,
    #3b2702,
    #3b2702 5%,
    #563a06 5%,
    #563a06 10%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marca{
  display: flex;
  padding: 20px 0px 20px 20px;
  width: 50vw;
  color: white;
}

#header-img {
  width: 100px;
  vertical-align: center;
}



#nav-bar {
  padding-right: 1rem ;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

a:hover {
  color: aqua;
}

.container {
padding-top: 60px;
}


#inicio {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 120px auto 60px;
}



input[type='email'] {
max-width: 250px;
width: 100%;
padding: 5px;
margin: 15px;
font-size: 16px;
}

input[type='submit'] {
background-color: #563a06;
box-shadow: 2px 2px 5px black;
border-style: none;
color: white;
font-size: 16px;
padding: 5px;
}

.flex-container {
  display: flex;
  background-color: #d7c4a1;
  flex-direction: row;
  justify-content: space-around;
}
.flex-item {
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 1.5em;
  max-width: 250px;
  vertical-align: center;
}

.video{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 120px auto 60px;


}

#video{
  max-width: 600px;
  padding: 10px;
}

h2 {
  text-align: center;
  color: #3b2702;
  font-size: 2rem;
  padding: 10px;
}

#galeria{
margin: 120px auto 60px;


}


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  padding: 20px 10px;

}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

#footer{
  background-color: #563a06;
  color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}