@media (max-width: 768px) {
    #header {
      width: 358px;
    }
  
    .main-section {
      width: 318px;
    }
  }
  
  @media (max-width: 1199px) and (min-width: 769px) {
    #header {
      width: 675px;
    }
  
    .main-section {
      width: 633px;
    }
  }

  *{
    font-family: Marvel, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  #header {
    width: 100%;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 20px;
    background: repeating-linear-gradient(
      180deg,
      #3b2702,
      #3b2702 5%,
      #563a06 5%,
      #563a06 10%
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .marca{
    display: flex;
    padding: 20px 0px 20px 20px;
    width: 50vw;
    color: white;
  }

  .marca img {
    width: 2rem;
    vertical-align: center;
  }

  .lyra{
    font-size: 35px;
    vertical-align: center;
    font-weight: 800;
    
  }
  
  #nav-bar {
    padding-right: 1rem ;
  }

  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 25px;
    color: white;
  }

  section{
    margin-top: 90px;
  }
  
#cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input[type='email'] {
  max-width: 250px;
  width: 100%;
  padding: 5px;
  margin: 15px;
  font-size: 16px;
}

input[type='submit'] {
  background-color: #563a06;
  box-shadow: 2px 2px 5px black;
  border-style: none;
  color: white;
  font-size: 16px;
  padding: 5px;
}

  .flex-container {
    display: flex;
    background-color: grey;
  }
  .flex-item {
    background-color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
  }